fastapi==0.110.0
uvicorn[standard]==0.29.0

sqlalchemy==2.0.29
psycopg2-binary==2.9.9

pandas==2.2.2
numpy==1.26.4
python-dotenv==1.0.1
pydantic==2.6.4

Python-jose
passlib[bcrypt]
requests
python-multipart
trimesh
pydantic[email]
argon2-cffi
python-dotenv
